<div id="<%= dom_id order %>">
  <p>
    <strong>Pickup address:</strong>
    <%= order.pickup_address %>
  </p>

  <p>
    <strong>Delivery address:</strong>
    <%= order.delivery_address %>
  </p>

  <p>
    <strong>Items description:</strong>
    <%= order.items_description %>
  </p>

  <p>
    <strong>Requested at:</strong>
    <%= order.requested_at %>
  </p>

  <p>
    <strong>Estimated price:</strong>
    <%= order.estimated_price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

</div>
