<!-- app/views/orders/index.html.erb -->

<h2>Meus Pedidos</h2>

<%= link_to "Novo Pedido", new_order_path %>

<ul>
  <% @orders.each do |order| %>
    <li>
      <strong><%= order.items_description %></strong> |
      De: <%= order.pickup_address %> → Para: <%= order.delivery_address %> |
      Preço estimado: R$ <%= number_to_currency(order.estimated_price, unit: "", separator: ",", delimiter: ".") %> |
      Data: <%= order.requested_at.strftime("%d/%m/%Y %H:%M") %>
    </li>
  <% end %>
</ul>
